.parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 4 / 2 / 6;

    margin-left: 26%;
}

.div2 {
    grid-area: 2 / 3 / 3 / 7;
}

.div3 {
    grid-area: 4 / 3 / 7 / 7;
    background-color: green
}

.div4 {grid-area: 3 / 3 / 4 / 7;
    background-color: lightgreen}

.div5 {
    grid-area: 2 / 1 / 8 / 2;
    background-color: brown
}

.div6 {
    grid-area: 2 / 8 / 8 / 9;
    background-color: aquamarine
}

/*.div7 {*/
/*    grid-area: 3 / 3 / 4 / 7;*/
/*    background-color: lightgreen*/
/*}*/

/*.parent {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(8,1fr);*/
/*    grid-template-rows: repeat(7,1fr);*/
/*    grid-column-gap: 0px;*/
/*    grid-row-gap: 0px;*/
/*}*/

/*.div1 { grid-area: 2 / 3 / 3 / 7; }*/
/*.div2 { grid-area: 4 / 3 / 7 / 6;   }*/
/*.div3 { grid-area: 4 / 6 / 7 / 7; ;}*/
/*.div4 { grid-area: 2 / 1 / 8 / 2; }*/
/*.div5 { grid-area: 2 / 8 / 8 / 9; */
/*.div6 { grid-area: 2 / 2 / 3 / 3;  margin-left: 15px}*/