*{
    background-color: darkgrey;
    color: white;
}

.centre{
    text-align: center;
}
.button{

    background-color: black;
    color: white;
    border-radius: 15px;
    height:49px ;
    width: 15%;

}

.inputb{
    border-radius: 25px ;
    border-color: rgb(53,56,102);
    width: 70%;
    height: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 5px;
    font-size: 15px;
}

.button :hover {

}
.bcg{
    background-color: white;
    color: black;
}
.img{
    /*height: 20%;*/
    width: 40%;
}
.resize{
width: 10%;
}